/**
 * General styles
 */
#rutah-admin .p_margin {
    margin: 15px 0;
}

#rutah-admin .divider {
    padding-right: 20px;
    border-right: 2px solid #DDD;
    margin-right: 20px;
}

#rutah-admin h4{
    font-size: 160%;
}
    #rutah-admin h4 a{
        margin-left: 15px;
    }

#rutah-admin h5{
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 0px;
}

#rutah-admin .full_label{
    display: block;
}

/**
 * Table - List of items
 */
#rutah-admin .tablenav select[name="action"]{
    width: auto;
}

/**
 * Admin area Footer
 */
#rutah-admin #bottom{
    border-top:1px solid #ccc;
    margin-top:15px;
    padding-top:15px;
}